launch_client.py
datajson.py
alchemy.py
.vscode/launch.json
__pycache__[*]+.pyc
core.py
__pycache__
database/database.json
database/database.json
extras/test.http
database/database2.db
database/database1.db
# database/database.db
# settings.pygit
extras/test_t.py
database/test.py
database/test.py
extras/ipns.py
database/database.db
database/database.db
features/FCX.code-workspace
